# default configuration
## Possible usages and options

enabledByDefault=false

excludeMacros[0]=sessionid
excludeMacros[1]=devmode
excludeMacros[2]=userprofiledata
excludeMacros[3]=getConstant

# configs:
##   Will apply first available/matching config, permission is optional
# configs[0].siteKeys[0]=siteKey1
# configs[0].siteKeys[1]=siteKey2
# configs[0].name=myConfig
# configs[0].permission=myPermission
# configs[0].excludeToolbarItems[0]=item1
# configs[0].excludeToolbarItems[1]=item2
# configs[1].siteKeys[0]=siteKey3
# configs[1].siteKeys[1]=siteKey4
# configs[1].name=myConfig2
# configs[1].permission=myPermission2
##   Will be applied to all sites since no siteKeys
# configs[2].name=someConfig

# includeSites[0]=site1
# includeSites[1]=site2

# excludeSites[0]=site3
# excludeSites[1]=site4

# excludeToolbarItems[0]=item1
# excludeToolbarItems[1]=item2

# richtextMaxHeight: Optional. Sets a maximum height for the editor content area.
# Accepts a positive integer representing a height in pixels.
# When set, the editor becomes scrollable once the content exceeds this height.
# richtextMaxHeight=500
